@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Open+Sans:wght@300;400;500;600;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  outline: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.blue {
  color: #0d6efd;
}

.red {
  color: #e52f37;
}

.green {
  color: #27b36a;
}

.orange {
  color: #fc6a3f;
}

.yellow {
  color: #fe9c24;
}

.brown {
  color: #24292f;
}

section {
  padding: 90px 0 90px 0;
}

.section-white {
  background: #fff;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.section-grey {
  background: #f4f5fc;
}

.small-padding-top {
  padding-top: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.w-100 {
  width: 100%;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 12px;
  background: #0b5ed7;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

main {
  padding-top: 77px;
}

.box-shadow {
  box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.1);
}

.content-title,
.section-title {
  font-family: "Nunito", sans-serif;
  color: #071E55;
  text-align: center;
  margin-bottom: 45px;
}

.hover-up {
  transition: transform 2s;
}
.hover-up:hover {
  transform: translateY(-20px);
}

.sticky {
  position: fixed;
  right: 0;
  width: 100vw;
  z-index: 9999;
  animation: animDown 0.5s forwards;
}

@keyframes animDown {
  from {
    top: -20px;
  }
  to {
    top: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    margin: 0 10px;
  }
}
.navbar {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.navbar .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0;
  font-family: "Nunito", sans-serif;
}

.navbar,
.navbar button,
.navbar .nav-link {
  font-weight: 600;
  font-size: 17px;
}

.navbar__branch {
  padding-top: 5px;
  font-size: 24px;
  font-weight: 800;
  color: #071e55;
  white-space: nowrap;
  margin-right: 16px;
}

.navbar__branch i {
  margin-right: 5px;
}

.navbar__text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

ul.navbar__menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-link {
  display: inline-block;
  padding: 10px 15px;
  color: #595959;
}
.nav-link:hover {
  color: #0b5ed7;
}

.nav-link.active {
  color: #0b5ed7;
}

.btn-login {
  background: transparent;
  color: #595959;
}
.btn-login:hover {
  color: #0b5ed7;
  background-color: transparent;
}

.navbar .toggle-menu {
  display: none;
  color: #0b5ed7;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #0b5ed7;
}

@media only screen and (max-width: 992px) {
  .navbar .toggle-menu {
    display: inline-block;
  }

  .navbar .container {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .navbar__text {
    flex-direction: column;
    max-height: 0;
    transition: all 0.3s;
    overflow: hidden;
  }

  .navbar__text .navbar__menu {
    flex-direction: column;
  }
}
.section-grey.home-section {
  padding: 50px;
}

.home-section .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-section .container > div {
  width: 50%;
}

.home-section .container > div img {
  width: 100%;
  height: auto;
}

.home-section h1 {
  font-family: "Nunito", sans-serif;
  color: #202020;
  margin-bottom: 20px;
}

.home-section p {
  margin-bottom: 20px;
  color: #454545;
  font-size: 20px;
}

.home-section .newsletter-form {
  margin-bottom: 15px;
  font-size: 17px;
  position: relative;
}

.newsletter-form i {
  position: absolute;
  left: 15px;
  top: 16px;
  font-size: 20px;
  color: #7c8595;
}

.newsletter-form form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  max-width: 500px;
  overflow: hidden;
}

.newsletter-form form input {
  flex: 1;
  height: 60px;
  outline: none;
  background-color: #fff;
  border: none;
  border-radius: 0;
  font-size: 17px;
  padding-left: 45px;
}
.newsletter-form form input::placeholder {
  color: #7c8595;
}

.newsletter-form form button {
  height: 60px;
  border-radius: 0;
  background-color: #df2931;
  font-size: 14px;
}

.home-section .newsletter-form-terms {
  font-size: 14px;
  color: #7c8595;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-section .newsletter-form-terms > div:first-child {
  margin-right: 15px;
}

@media only screen and (max-width: 992px) {
  .home-section .container > div:first-child {
    width: 60%;
  }

  .home-section .container > div:last-child {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .home-section .container {
    flex-direction: column;
  }

  .home-section .container > div {
    width: 100% !important;
  }

  .home-section .container > div:first-child {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .newsletter-form form {
    flex-wrap: wrap;
  }

  .newsletter-form form button {
    width: 100%;
  }
}
.about .container .wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 -15px;
}
@media only screen and (max-width: 768px) {
  .about .container .wrap {
    flex-direction: column;
  }
}

.about .container .wrap > div {
  margin: 0 15px;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .about .container .wrap > div {
    margin-bottom: 30px;
  }
}

.about .about-content {
  text-align: center;
  padding: 25px 30px;
}

.about .about-content i {
  font-size: 46px;
}

.about .about-content .content-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about .about-content p {
  padding: 0 12px;
  color: #7c8595;
  font-size: 17px;
  line-height: 1.8;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  right: 10px !important;
  top: 50% !important;
  bottom: unset;
  left: unset;
  width: unset;
  transform: rotateZ(90deg) !important;
}
@media only screen and (max-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    right: unset !important;
    top: unset !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

.swiper-pagination-bullet-active {
  background: #df2931;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.testermonial {
  display: flex;
}
.testermonial-video, .testermonial-info {
  width: 50%;
}
.testermonial-video {
  padding-right: 30px;
  position: relative;
}
.testermonial-video img {
  border-radius: 5px;
  box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.15);
}
.testermonial-video i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 90px;
  width: 90px;
  line-height: 90px;
  font-size: 40px;
  text-align: center;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #164145;
  cursor: pointer;
}
.testermonial-video i:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.testermonial-info {
  padding-left: 30px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testermonial-info i {
  font-size: 40px;
}
.testermonial-comment {
  color: #7c8595;
  font-size: 17px;
  margin-bottom: 20px;
}
.testermonial-author {
  color: #071E55;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}
@media only screen and (max-width: 768px) {
  .testermonial {
    flex-direction: column;
  }
  .testermonial-video {
    width: 100%;
    padding-right: 0;
  }
  .testermonial-info {
    width: 100%;
    padding-left: 1px;
    padding-bottom: 30px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-video {
  position: relative;
  z-index: inherit;
}
.popup-close {
  position: absolute;
  top: -40px;
  right: -5px;
  z-index: 1000;
  cursor: pointer;
  font-size: 30px;
  color: #e7e7e7;
}
.popup-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;
}

.popup.hidden {
  display: none;
}

.partner-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .partner-wrap {
    flex-direction: column;
  }
}
.partner-item {
  background: #fff;
  border-radius: 10px;
  max-width: 15%;
  padding: 30px 20px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 768px) {
  .partner-item {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.partner-item img {
  width: 100%;
  max-width: 150px;
}
@media only screen and (max-width: 768px) {
  .partner-item img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .partner .section-title {
    font-size: 28px;
  }
}

.discover .section-title {
  text-align: start;
  margin-bottom: 20px;
}
.discover .wrap {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .discover .wrap {
    flex-direction: column;
  }
}
.discover .wrap > div {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .discover .wrap > div {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.discover .wrap > div:first-child {
  padding-right: 15px;
}
@media only screen and (max-width: 768px) {
  .discover .wrap > div:first-child {
    margin-bottom: 20px;
  }
}
.discover .wrap > div:last-child {
  padding-left: 10px;
}
.discover__desc, .discover__list {
  color: #7c8595;
  margin-bottom: 20px;
  font-size: 17px;
}
.discover__desc i, .discover__list i {
  font-size: 26px;
  line-height: 26px;
  margin-right: 10px;
  vertical-align: middle;
}

.funfact__list {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .funfact__list {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 576px) {
  .funfact__list {
    flex-direction: column;
  }
}
.funfact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
@media only screen and (max-width: 768px) {
  .funfact__item {
    margin: 0 5px;
  }
}
@media only screen and (max-width: 576px) {
  .funfact__item {
    margin-bottom: 10px;
  }
}
.funfact__icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.funfact__count {
  font-size: 26px;
  font-family: "Nunito", sans-serif;
  color: #071E55;
  font-weight: bold;
}
.funfact__desc {
  font-size: 17px;
  color: #7c8595;
  text-align: center;
}

.ourteam {
  text-align: center;
}
.ourteam__list {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .ourteam__list {
    flex-direction: column;
  }
}
.ourteam__item {
  padding: 0 12px;
}
@media only screen and (max-width: 768px) {
  .ourteam__item {
    padding: 0;
    margin-bottom: 30px;
  }
}
.ourteam__avatar {
  border-radius: 8px;
  margin-bottom: 20px;
}
.ourteam__name {
  color: #071E55;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
.ourteam__office {
  font-size: 17px;
  color: #acacac;
  margin-bottom: 20px;
}
.ourteam__desc {
  font-size: 17px;
  color: #7c8595;
  margin-bottom: 20px;
  padding: 0 20px;
}
.ourteam__social {
  display: flex;
  justify-content: center;
}
.ourteam__social a {
  margin: 0 5px;
  display: inline-block;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
}
.ourteam__social a i {
  font-size: 18px;
  color: #fff;
}

.social-twitter {
  background-color: #025bff;
}

.social-instagram {
  background-color: #ff0202;
}

.social-facebook {
  background-color: #014ad1;
}

.social-dribble {
  background-color: #b500c5;
}

.howitwork__wrap {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .howitwork__wrap {
    flex-direction: column;
  }
}
.howitwork__wrap > div {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .howitwork__wrap > div {
    width: 100%;
  }
}
.howitwork__title {
  text-align: left;
  margin-bottom: 20px;
}
.howitwork .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
}
@media only screen and (max-width: 768px) {
  .howitwork .left {
    margin-bottom: 20px;
    padding-right: 0;
  }
}
.howitwork .left p {
  font-size: 17px;
  color: #7c8595;
  margin-bottom: 20px;
}
.howitwork__platform {
  display: flex;
}
.howitwork__platform h4 {
  font-size: 17px;
  color: #071E55;
  margin-bottom: 10px;
}
.howitwork__platform > div {
  padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .howitwork__platform > div {
    display: flex;
    flex-wrap: nowrap;
  }
}
.howitwork__platform > div:first-child {
  padding-right: 30px;
  border-right: 1px solid #acacac;
}
.howitwork__platform > div:last-child {
  padding-left: 20px;
}
.howitwork__star {
  font-size: 16px;
}
.howitwork .accordion__item {
  cursor: pointer;
  background-color: #fff;
  padding: 20px 25px;
}
.howitwork .accordion__item:not(:last-child) {
  margin-bottom: 20px;
}
.howitwork .accordion__head {
  display: flex;
  align-items: center;
  position: relative;
}
.howitwork .accordion__head .arrow {
  position: absolute;
  right: 20px;
  font-size: 20px;
  transition: all 0.2s;
}
.howitwork .accordion__icon {
  display: inline-block;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  border: 2px solid #27b36a;
  margin-right: 10px;
}
.howitwork .accordion__icon i {
  color: #27b36a;
}
.howitwork .accordion__title {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #071E55;
}
.howitwork .accordion__body {
  overflow: hidden;
  font-size: 17px;
  color: #7c8595;
  transition: all 0.5s;
}
.howitwork .accordion__body p {
  padding-top: 20px;
}
.howitwork .accordion__item.active .arrow {
  transform: rotateZ(-180deg);
  color: #0b5ed7;
}

.price {
  text-align: center;
}
.price__list {
  display: flex;
  margin: 0 -15px;
}
@media only screen and (max-width: 768px) {
  .price__list {
    flex-direction: column;
    margin: 0;
  }
}
.price__item {
  margin: 0 15px;
  flex: 1;
  padding: 50px;
  border-radius: 7px;
  transition: all 0.5s;
}
.price__item:hover {
  box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.1), 0px 2px 0 #1294ff;
}
@media only screen and (max-width: 768px) {
  .price__item {
    margin: 0;
    margin-bottom: 20px;
  }
}
.price__type {
  font-size: 20px;
  color: #071E55;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.price__amount {
  font-size: 65px;
  font-family: "Nunito", sans-serif;
  color: #071E55;
  font-weight: bold;
  margin-bottom: 10px;
}
.price__time {
  font-size: 17px;
  color: #6a6a6a;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.price__desc {
  text-align: left;
  margin-bottom: 30px;
}
.price__desc li {
  margin-bottom: 10px;
}
.price__desc li i {
  margin-right: 10px;
}
.price__desc li span {
  color: #6a6a6a;
}
.price__desc--strong {
  font-weight: bold;
}
.price .btn--price {
  border: 1px solid #0b5ed7;
  background-color: white;
  color: #0b5ed7;
  transition: all 0.5s;
}
.price .btn--price:hover {
  background-color: #0b5ed7;
  color: white;
}

.feature__list {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .feature__list {
    flex-direction: column;
    margin: 0;
  }
}
.feature__item {
  flex: 1;
  max-width: 30%;
  min-width: 25%;
  margin: 0 15px;
  margin-bottom: 30px;
  display: flex;
}
@media only screen and (max-width: 992px) {
  .feature__item {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .feature__item {
    margin: 0;
    max-width: 100%;
    min-width: 0;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}
.feature__icon {
  font-size: 40px;
}
.feature__info {
  padding-left: 20px;
}
.feature__title {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: #071E55;
  margin-bottom: 20px;
}
.feature__desc {
  font-size: 17px;
  color: #7c8595;
}

.banner-testi__wrap {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .banner-testi__wrap {
    flex-direction: column;
  }
}
.banner-testi__wrap > div {
  text-align: center;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .banner-testi__wrap > div {
    width: 100%;
  }
}
.banner-testi__quote {
  font-size: 26px;
  color: #7c8595;
  font-style: italic;
  margin-bottom: 30px;
}
.banner-testi__author {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #071E55;
  margin-bottom: 10px;
}
.banner-testi__ceo {
  color: #0b5ed7;
}

.blog__list {
  display: flex;
  margin: 0 -15px;
}
@media only screen and (max-width: 768px) {
  .blog__list {
    margin: 0;
    flex-direction: column;
  }
}
.blog__item {
  margin: 0 15px;
  border-radius: 5px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .blog__item {
    margin: 0;
    margin-bottom: 40px;
  }
}
.blog__image {
  display: inline-block;
  width: 100%;
  position: relative;
}
.blog__image img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.blog__image--overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(1, 63, 71, 0.6);
}
.blog__image--overlay i {
  font-size: 40px;
  color: #fff;
}
.blog__image:hover .blog__image--overlay {
  opacity: 1;
}
.blog__text {
  padding: 25px;
  background: white;
}
.blog__title h3 {
  color: #071E55;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
}
.blog__title h3:hover {
  color: #0f3fb3;
  text-decoration: underline;
}
.blog__theme {
  color: #7c8595;
  font-size: 14px;
  font-style: italic;
}
.blog__theme span:hover {
  color: #0f3fb3;
}
.blog__desc {
  margin-top: 10px;
  color: #7c8595;
  font-size: 17px;
}

.contact .container {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .contact .container {
    flex-direction: column;
  }
}
.contact__text {
  width: 50%;
  padding-right: 15px;
}
@media only screen and (max-width: 768px) {
  .contact__text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
}
.contact__text .form-control {
  width: 100%;
}
.contact__text .form-control input,
.contact__text .form-control textarea {
  width: 100%;
  height: 55px;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 23px;
  color: #727272;
  background-color: #f6f7f8;
  border: 1px solid #ececec !important;
  font-size: 14px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.contact__text .form-control textarea {
  height: 150px;
  padding-top: 5px;
}
.contact__text .form-control input:focus,
.contact__text .form-control textarea:focus {
  outline: 0;
}
.contact__map {
  width: 50%;
  padding-left: 15px;
}
@media only screen and (max-width: 768px) {
  .contact__map {
    width: 100%;
    padding-left: 0;
  }
}
.contact__map--iframe {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #acacac;
  padding: 3px;
  background-color: #e4e4e4;
  margin-bottom: 20px;
}
.contact__map--iframe iframe {
  vertical-align: middle;
}
.contact .section-title {
  text-align: left;
  margin-bottom: 20px;
}
.contact h5.section-title {
  margin-bottom: 10px;
}
.contact__info {
  display: flex;
  margin-bottom: 5px;
}
.contact__info i {
  margin-right: 10px;
}
.contact__info p,
.contact__info a {
  font-size: 17px;
  color: #7c8595;
}

footer {
  padding: 40px 0 20px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container > p {
  font-size: 17px;
  color: #7c8595;
}
footer .container > p span {
  font-weight: bold;
}
footer .container > div {
  font-size: 17px;
}
footer .container > div span {
  color: #7c8595;
}
footer .container > div * {
  margin-right: 10px;
}
footer .container > div i {
  font-size: 30px;
  vertical-align: middle;
}
footer .container > div a {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
