$font-family-title: 'Nunito', sans-serif;
$font-family-body: 'Open Sans', sans-serif;

$bg-color-body:#f4f5fc;
$color-title:#071E55;
$color-gray-light:#7c8595;
$color-gray-dark:#454545;
$color-gray-darkest:#202020;
$color-blue:#0b5ed7;
$color-green:#27b36a;
$color-red:#df2931;

$font-size-normal:17px;
$font-size-small:14px;

$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width:1200px;
