.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  &-video {
    padding-top: 100px;
    position: relative;
    z-index: inherit;
  }
  &-close {
    position: absolute;
    top: 60px;
    right: -5px;
    z-index: 1000;
    cursor: pointer;
    font-size: 30px;
    color: rgb(231, 231, 231);
  }
  &-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 990;
  }
}
.popup.hidden {
  display: none;
}
