@use './abstracts/' as *;

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  right: 10px !important;
  top: 50% !important;
  bottom: unset;
  left: unset;
  width: unset;
  transform: rotateZ(90deg) !important;
  @include md{
    right:unset !important;
    top:unset !important;
    bottom:0 !important;
    left:50% !important;
    transform: translateX(-50%) !important;;
  }
}
.swiper-pagination-bullet-active {
  background: $color-red;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.testermonial {
  display: flex;
  &-video,
  &-info {
    width: 50%;
  }
  &-video {
    padding-right: 30px;
    position: relative;
    & img {
      border-radius: 5px;
      box-shadow: 15px 10px 20px rgb(0 0 0 / 15%);
    }
    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      height: 90px;
      width: 90px;
      line-height: 90px;
      font-size: 40px;
      text-align: center;
      border-radius: 999px;
      background-color: rgba(255, 255, 255, 0.6);
      color: #164145;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  &-info {
    padding-left: 30px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & i {
      font-size: 40px;
    }
  }
  &-comment {
    color: $color-gray-light;
    font-size: $font-size-normal;
    margin-bottom: 20px;
  }
  &-author {
    color: $color-title;
    font-size: 15px;
    font-family: $font-family-title;
  }
  @include md {
    flex-direction: column;
    &-video{
      width:100%;
      padding-right: 0;
    }
    &-info{
      width: 100%;
      padding-left: 1px;
      padding-bottom: 30px;
    }
  }
}
